{% extends 'base.html.twig' %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}
    {% include 'blocks/nav_bar.html.twig' %}
    {% include 'blocks/1_top_section.html.twig' %}
    <div class="main">
        <!-- middle -->
        {% include 'blocks/2_about_us.html.twig' %}
        {% include 'blocks/3_cnc_application.html.twig' %}
        {% include 'blocks/4_production.html.twig' %}
        <!-- end of middle -->
    </div>
{% endblock %}