<section class="module">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <a href="" data-toggle="modal" data-target="#chpu_modal" class="catalog-card special">
                    <div class="info">
                        <div class="tag">ПЕРСОНАЛЬНОЕ НАБОР (без лишних узлов)</div>
                        <ul>
                            <li>Квалифицированный подбор станка с ЧПУ и его комплектующих </li>
                            <li>Развернутое предложение с полной калькуляцией</li>
                        </ul>
                        <div class="price">БЕСПЛАТНО</div>
                        <div class="animated-link"><span>ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ</span>
                            <div class="bg-animation"> </div>
                        </div>
                    </div>
                    <div style="background-image:url({{ asset('assets/images/client-logo-2.png') }})" class="pic"> </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <a href="" data-toggle="modal" data-target="#chpu_modal" class="catalog-card special">
                    <div class="info">
                        <div class="tag">ПЕРСОНАЛЬНОЕ НАБОР (без лишних узлов)</div>
                        <ul>
                            <li>Квалифицированный подбор станка с ЧПУ и его комплектующих </li>
                            <li>Развернутое предложение с полной калькуляцией</li>
                        </ul>
                        <div class="price">БЕСПЛАТНО</div>
                        <div class="animated-link"><span>ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ</span>
                            <div class="bg-animation"> </div>
                        </div>
                    </div>
                    <div style="background-image:url({{ asset('assets/images/client-logo-2.png') }})" class="pic"> </div>
                </a>
            </div>
        </div>
    </div>
</section>