
{% include 'blocks/parts/product_sort.html.twig' %}
<hr class="divider-w">
<section class="module-small">
    <div class="container">
        <div class="row multi-columns-row">

            {% for i in 0..8 %}

                {% include 'blocks/parts/card_image_view.html.twig' %}

            {% endfor %}

    </div>
</section>