<section class="module">
    <div class="container">
        <div class="row multi-columns-row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                    <div class="features-icon"><span class="icon-lightbulb"></span></div>
                    <h3 class="features-title font-alt">Ideas and concepts</h3>Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                    <div class="features-icon"><span class="icon-tools"></span></div>
                    <h3 class="features-title font-alt">Designs &amp; interfaces</h3>Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                    <div class="features-icon"><span class="icon-tools-2"></span></div>
                    <h3 class="features-title font-alt">Coding &amp; development</h3>Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                    <div class="features-icon"><span class="icon-lifesaver"></span></div>
                    <h3 class="features-title font-alt">Dedicated support</h3>Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.
                </div>
            </div>
        </div>
    </div>
</section>